.new-login-register .new-login-box {
    width: auto;
    margin-left: 32%;
    margin-top: 0;
}

.remove {
    color: red;
}

.add {
    color: green;
}

.new-login-register .lg-info-panel {
    width: 430px !important;
}

#wrapper {
    overflow: scroll;
}

@media (max-width: 1350px) {
    .new-login-register .new-login-box {
        margin-left: 500px;
    }
}
#msform {
    max-width: 1000px;
}
.register-box {
    max-width: 1000px;
}
.btn-bottom {
    display: inline-block;
}