.container {
	direction: rtl;
}

.navbar-header {
	float: right!important;
}

.navbar-nav {
	float: left!important;
}
.stellarnav>ul>li {
	float: right!important;
}
.welcome-mockup {
    direction: ltr!important;
}
.owl-stage-outer {
	direction: ltr!important;
}


 @font-face {
    font-family: newfont;
    src: url(beauty.otf);
}

p , h1 , h2 , h3 , h4 , h5 , h6  , li , th , td , button,label,input {
  font-family: newfont !important;
  font-weight: 600;
}
